bin
lib
include
db
dbd
*_BAK.adl
envPaths*
cdCommands
dllPath.bat
auto_settings.sav*
configure/*.local
O.*/
*~
*.swp

# Eclipse project files
.project
.cproject
.settings/

# ffmpegServer vendor libraries
vendor/ffmpeg*
vendor/yasm*

